label {
    font-size: 1em;
    color: #3498DB;
}

button {
    margin-top: 20px;
    margin-left: 10px;
    background-color: #3498DB;
}

.logout {
    top: 0;
    right: 100%;
}

h2 {
    font-size: 50px;
}

.welcom {
    top: 2em;
}