label {
    font-size: 1em;
    color: whitesmoke;
}

h2 {
    color: white;
}

button {
    color: #34495e;
    margin-top: 10px;
    margin-left: 10px;
    background-color: whitesmoke;
}

#use {
    background-color: #34495e
}