<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
        <a class="navbar-brand" href="#">Cat'Stagram</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-left">
            <li><a routerLink="/picture">Picture<span class="navbar-unread">1</span></a></li>
            <li><a routerLink="/user">Register<span class="navbar-unread">1</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/login">Login<span class="navbar-unread">1</span></a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<!-- <h1>Hello Welcome on Cat'Stagram Here u can Find and Create Beautiful post of Cats Enjoy!</h1> -->
<router-outlet>
</router-outlet>
<!-- <app-user></app-user>
    <app-picture></app-picture> -->
<!-- <a routerLink="/login">login</a> -->
<!-- <a routerLink="user/">Register</a> -->
<!-- <a routerLink="/addpicture">Add Picture</a> -->
<!-- <app-picture></app-picture> -->